.dados3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.camposFonte1 {
    display: flex;
}

.dados3 select {
    width: 150px;
    margin: 10px;
}

.dados3 select option {
    color: rgb(84, 84, 84);
}