.dados5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.camposFonte2 {
    display: flex;
}

.dados5 select {
    width: 150px;
    margin: 10px;
}

.dados5 select option {
    color: rgb(84, 84, 84);
}